{% extends "base_templates/main.html" %}

{% block title %}
Y
{% endblock title %}

{% block content %}
<main>
    <div>
        <div>
            <h1>
                {% if request.user.is_authenticated %}
                Hello <a href="{% url 'profile' request.user.id%}">{{request.user.username}}</a>
                {% else %}
                Hello.
                {% endif %} 
            </h1>
        </div>
        <hr>
        <div>
            {% include "components/feed_component.html" %}
        </div>
    </div>
</main>


{% endblock content %}
