{% extends "base_templates/main.html" %}

{% block title %}
Y
{% endblock title %}

{% block content %}
<main class="layout layout--2">
    <div class="container">

        {% include "components/topic_component.html" %}
        
        <div class=postList>
            {% if request.user.is_authenticated %}
            <div class="postList__header">  
                <form method="POST" action="" class="form">
                    {% csrf_token %}
                    {{ post_form.body }}
                    <div class="form__action">
                        <button class="btn btn--main" type="submit" value="submit">
                            Post
                        </button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
        {% include "components/feed_component.html" %}
        
    </div>
</main>


{% endblock content %}
