{% extends "base_templates/main.html" %}

{% block content %}
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <div class="avatar avatar--large active">
                        <img src="{{ user.udata.avatar.url }}">
                    </div>
                    <div style="float: inline-end;">
                        <span>
                            <h2 class="account-heading">{{ user.username }}</h2>
                        </span>
                        <span>
                            <p class="text-secondary">{{ user.email }}</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="layout__body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <!-- <legend class="border-bottom mb-4">Blog Post</legend> -->
                    {% for field in form %}
                    <div class="form__group form__group">
                        <label for="{{field.name}}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="form__action">
                        <button type="submit" class="btn btn--main">Update</button>
                        <div style="float: inline-end;">
                            <a href="{% url 'thread' object.id %}" class="btn btn--main">Back to post</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}