{% extends "base_templates/main.html" %}
{% load static %}
{% block title %}
{{userdata.username}}
{% endblock title %}

{% block content %}
<main class="layout layout--2">
    <div class="container">
        {% include "components/topic_component.html" %}
        
        <div class="postList">
            <div class="postList__header vert">
                {% if user.is_authenticated %}
                    <div class="avatar avatar--large active">
                        <img  src="{{ userdata.avatar.url }}">
                    </div>
                {% else %}
                    <div class="avatar avatar--large active">
                        <img src="{% static 'assets/avatar.svg' %}" />
                    </div>
                {% endif %}
                <div class="account">
                    <h2 class="account-heading" style="text-align: center;">{{ userdata.username }}</h2>
                    {% if user.is_authenticated %}
                    <p class="text-secondary"><strong>Email</strong>: {{ userdata.email }}</p>
                    <p><strong>Bio</strong>: {{ userdata.bio }}</p>
                    {% endif %}
                </div>
                <div>
                    {% if request.user.is_authenticated and request.user.username == userdata.username %}
                        <a href="{% url 'update-user' request.user.id %}"> Update Profile </a>
                    {% endif %}
                </div>
            </div>
            <h3>Posts by {{ userdata.username }}</h3>
            <hr>
            <div>
                {% include "components/feed_component.html" %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}
