{% extends "base_templates/main.html" %}

{% block title %}
{{userdata.username}}
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>
            {{userdata.username}}
        </h1>
        <hr>
        <div class="box">
            <div>
                {% include "components/topic_component.html" %}
            </div>
            <div>
                {% include "components/feed_component.html" %}
            </div>
        </div>
        
    </div>
</main>
{% endblock content %}
