{% extends "base_templates/main.html" %}

{% block title %}
{{post.user.username}} {{post.created|timesince}} ago...
{% endblock title %}

{% block content %}
<main class="layout--1">
    <div class="container">

        <!-- <div class="postList"> -->
            {% if parentage %}
                {% for thread_post in thread %}
                    <div class=postListPost>
                        <h5>
                            {% if request.user.is_authenticated %}
                                <div class="avatar avatar--medium">
                                    <img src="{{ thread_post.user.udata.avatar.url }}">
                                </div>
                            {% endif %}
                            <a href="{% url 'profile' thread_post.user.id %}">@{{thread_post.user.udata.username}}</a> 
                            <div style="float: inline-end;">
                                {{thread_post.created|timesince}} ago
                            </div>
                        </h5>
                        <hr>
                        <h5>{{thread_post.body}}</h5>
                        <div>
                            {% if request.user.is_authenticated %}
                            {% if request.user.udata not in post.likes.all %}
                            <button class="btn btn--pill like-button" name="post_id" value="{{ thread_post.id }}" data-post-id="{{ thread_post.id }}">
                                Like
                            </button>
                            {% else %}
                            <div>
                                <button class="btn btn--pill like-button" disabled> Liked </button>
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>            
                        <h5>
                            <strong>{{ thread_post.likes.count }}</strong> likes
                        |    <a href="{% url 'thread' thread_post.id %}">See thread</a>
                        </h5> 
                    </div>
                {% endfor %}
            {% endif %}
            <div class="postListPost">
                <h5>
                    {% if request.user.is_authenticated %}
                        <div class="avatar avatar--medium active">
                            <img src="{{ post.user.udata.avatar.url }}">
                        </div>
                    {% endif %}
                    <a href="{% url 'profile' post.user.id %}">@{{post.user.username}}</a> 
                    <div style="float: inline-end;">
                        {{post.created|timesince}} ago
                    </div>
                </h5>
                <hr>
                <h4>{{post.body}}</h4>
                <div>
                    {% if request.user.is_authenticated %}
                    {% if request.user.udata not in post.likes.all %}
                    <button class="btn btn--pill like-button" name="post_id" value="{{ post.id }}" data-post-id="{{ post.id }}">
                        Like
                    </button>
                    {% else %}
                    <div>
                        <button class="btn btn--pill like-button" disabled> Liked </button>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                <h4><strong>{{ post.likes.count }}</strong> likes</h4>
                {% if request.user.is_authenticated and request.user == post.user %}
                <span>
                    <a href="{% url 'post-update' post.id %}" class="btn btn--link" style="position: relative; right: auto;"> Update </a>
                </span>
                <span>
                    <a href="{% url 'post-delete' post.id %}" class="btn btn--link" style="position: relative; right: auto;"> Delete </a>
                </span>
            {% endif %}
            </div>
        <!-- </div> -->

        <div class=postList>
            {% if request.user.is_authenticated %}
            <div class="postList__header">  
                <form method="POST" action="" class="form">
                    {% csrf_token %}
                    {{post_form.body}}
                    <div class="form__action">
                        <button class="btn btn--main" type="submit" value="submit">
                        Post
                        </button>
                    </div>
                </form>
            </div>
            {% endif %}
            {% include "components/feed_component.html" %}
        </div>
        
    </div>
    
</main>
{% endblock content %}
