{% extends "base_templates/main.html" %}

{% block title %}
{{post.user.username}} {{post.created|timesince}} ago...
{% endblock title %}

{% block content %}
<main>
    <div>
        <div>
            {% if parentage %}
                {% for thread_post in thread %}
                    <div>
                        <h6>
                            <a href="{% url 'profile' thread_post.user.id %}">@{{thread_post.user.username}}</a> 
                            {{thread_post.created|timesince}} ago
                        </h6>
                        <h5>{{thread_post.body}}</h5>
                        <h5>{{thread_post.likes.all.count}}</h5> 
                    </div>
                {% endfor %}
            {% endif %}
            <div>
                <h5>
                    <a href="{% url 'profile' post.user.id %}">@{{post.user.username}}</a> 
                    {{post.created|timesince}} ago
                </h5>
                <h4>{{post.body}}</h4>
                <h4>{{post.likes.all.count}}</h4> 
                {% comment %} ? how to add like functionality without reloading page everytime? {% endcomment %}    
            </div>
            
        </div>
        <hr>
        <div>
            {% if request.user.is_authenticated %}
            <div>
                <h4>Join the conversation!</h4>
                <form method="POST" action="" class="form">
                    {% csrf_token %}
                    {{post_form.body}}
                    <div class="">
                        <button class="" type="submit" value="submit">
                          Post
                        </button>
                      </div>
                </form>
            </div>
            <hr>
            {% endif %}
            {% include "components/feed_component.html" %}
        </div>
    </div>
    
</main>
{% endblock content %}
