{% extends "base_templates/main.html" %}

{% block title %}
{{post.user.username}} {{post.created|timesince}} ago...
{% endblock title %}

{% block content %}
<main class="layout--1">
    <div class="container">

        <div class="postList">
            {% if parentage %}
                {% for thread_post in thread %}
                    <div class=postListPost>
                        <h6>
                            <a href="{% url 'profile' thread_post.user.id %}">@{{thread_post.user.udata.username}}</a> 
                            {{thread_post.created|timesince}} ago
                        </h6>
                        <h5>{{thread_post.body}}</h5>
                        <h5>
                            {{thread_post.likes.all.count}} likes
                            | <a href="{% url 'thread' thread_post.id %}">See thread</a></h5> 
                    </div>
                {% endfor %}
            {% endif %}
            <div class="postListPost">
                <h5>
                    <a href="{% url 'profile' post.user.id %}">@{{post.user.username}}</a> 
                    {{post.created|timesince}} ago
                </h5>
                <h4>{{post.body}}</h4>
                <h4>{{post.likes.all.count}}</h4> 
            </div>
        </div>

        <div class=postList>
            {% if request.user.is_authenticated %}
            <div class="postList__header">  
                <form method="POST" action="" class="form">
                    {% csrf_token %}
                    {{post_form.body}}
                    <div class="form__action">
                        <button class="btn btn--main" type="submit" value="submit">
                        Post
                        </button>
                    </div>
                </form>
            </div>
            {% endif %}
            {% include "components/feed_component.html" %}
        </div>
        
    </div>
    
</main>
{% endblock content %}
