{% extends 'base_templates/main.html' %}
{% load static %}
{% block content %}
<main class="layout layout--2">
    <div class="container">
        {% include "components/topic_component.html" %}
        <div class="postList">
            <div class="postList__header vert">
                {% if user.is_authenticated %}
                    <div class="avatar avatar--large active">
                        <img  src="{{ userdata.avatar.url }}">
                    </div>
                {% else %}
                    <div class="avatar avatar--large active">
                        <img src="{% static 'assets/avatar.svg' %}" />
                    </div>
                {% endif %}
                <div class="">
                    <h3 class="account-heading" style="text-align: center;">{{ userdata.username }}</h3>
                </div>
            </div>
            <h3>Tagged by - </h3>
            <hr>
            <div>
                {% include "components/feed_component.html" %}
            </div>
        </div>
    </div>
</main>
{% endblock %}