{% extends "base_templates/main.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <img class="rounded-circle account-img" src="{{ user.image.url }}">
                <div class="layout__boxTitle">
                    <div>
                        <h2 class="account-heading">{{ user.username }}</h2>
                    </div>
                    <div>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                </div>
            </div>
            <div class="layout__body">
                <!-- FORM HERE -->
                <h3 style="text-align: center;">Profile Info</h3>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <!-- <legend class="">Profile Info</legend> -->
                    {% for field in up_form %}
                    <div class="form__group form__group">
                        <label for="{{field.name}}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                <div class="form__group"> 
                    <button type="submit" class="btn btn--main">Update</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
